/*-------------------------------------
Reset
---------------------------------------*/
*           {margin: 0; padding: 0; position: absolute; -webkit-box-sizing: border-box; box-sizing: border-box;}
#banner *   {position: absolute;}
#banner br  {position: static;}
img         {border: none; width: 300px;}

/*-------------------------------------
Layout
---------------------------------------*/
#ad             {width: 300px; height: 600px; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;}
#banner         {position: absolute; display: block; width: 300px; height: 600px; overflow: hidden; cursor: pointer; visibility: hidden; background: #101010; border:1px solid rgba(0, 0, 0, .25);}
.clicktag       {width: 100%; height: 100%; z-index: 10; cursor: pointer; background:transparent;}
.clicktag img   {border: none; outline: none;}
#frame_one, #frame_two, #frame_three, #frame_four, #common    {width: 100%; height: 600px;}

/*-------------------------------------
Banner Body
---------------------------------------*/
.line1						{clip: rect(0px 300px 0px 0px);}
.line2						{clip: rect(0px 0px 600px 0px);}
.txt1						{ width:200px; height:27px; top:287px; left:73px;}
.v,.e1,.r,.s,.a,.t,.i,.l,.e2{ height:27px; width:auto;}
.v							{ left:95px; top:-3px; transform:rotateX(180deg);}
.e1							{ left:185px; transform:rotate(180deg)}
.r							{ left:26px; transform:rotateX(180deg);}
.s							{ left:74px;}
.a							{ left:123px;}
.t							{ left:0px;}
.i							{ left:175px;}
.l							{ left:154px;}
.e2							{ left:52px;}
.number 					{width:215px; height:135px; background: url('../images/number_sprite.png') 0px 0px; left:42px; top:232px;}
.text_be					{left:0px; top:0px; width:115px; height:600px; overflow:hidden;}
.text_alpha					{left:120px; top:0px; width:180px; height:600px; overflow:hidden;}
.alpha						{left:-120px;}
.box        				{width: 165px; height: 35px; left: 68px; top:144px;}
.top        				{width: 100%; height: 1px; background: #fff; top: 0; left: 0;}
.left        				{width: 1px; height: 100%; background: #fff; bottom: 0; left: 0;}
.bottom       				{width: 100%; height: 1px; background: #fff; bottom: 0; right: 0;}
.right       				{width: 1px; height: 100%; background: #fff; top: 0; right: 0;}
.cta, .cta_hover			{left:0;}
