@charset "utf-8";
/* CSS Document */

/* CSS reset */
* {
    margin: 0;
    padding: 0;
	position:absolute;
}

#change{
	left:350px;
}
/* banner */
#banner {
	width:300px;
	height:600px;
	background:hsla(33,98%,51%,1.00);
	overflow:hidden;
	/*border:1px solid #000;*/
}

#logo{
	width: 90px;
	height: 26px;
	background: url(images/ms_logo.png);
	left: 13px;
	top: 15px;
}

#rotater{
	width: 200px;
	height: 200px;
	left: 50px;
	top: 50px;
	-webkit-animation: rotater_anim 1.5s ease-out 5.5s forwards;
	animation: rotater_anim 1.5s ease-out 5.5s forwards;
}

#number{
	position: absolute;
	font-family: Arial;
	font-weight: bold;
	font-size: 13px;
	color: #fff;
	left: 11px;
	top: 147px;
	}

#ctrl {
	width:24px;
	height:24px;
	background:url(images/ctrl.png) no-repeat;
	left:-12px;
	top:100px;
	-webkit-animation:ctrl_anim 1.5s ease-out 5.5s forwards;
	animation:ctrl_anim 1.5s ease-out 5.5s forwards;
}

#slider{
	width:302px;
	height:302px;
	background:url(images/slider.png) no-repeat;
	top:148px;
	left: 305px;
	-webkit-animation:slider_slideIn .5s ease-out 4.5s forwards, slider_slideOut .5s ease-out 8s forwards;
	animation:slider_slideIn .5s ease-out 4.5s forwards, slider_slideOut .5s ease-out 8s forwards;
}

#img1{
	width:300px;
	height:600px;
	background:url(images/image.jpg) no-repeat;
	left:0px;
	right:0px;
	
}

#img_blur{
	width:300px;
	height:600px;
	background:url(images/image_blur.jpg) no-repeat;
	left:0px;
	right:0px;
	-webkit-animation:FadeOut 1.5s ease-out 12s forwards;
	animation:FadeOut 1.5s ease-out 12s forwards;
	
}

#img_dark{
	width:300px;
	height:600px;
	background:url(images/image_dark.jpg) no-repeat;
	left:0px;
	right:0px;
	opacity:1;
	-webkit-animation:FadeOut 1.5s ease-out 5.5s forwards;
	animation:FadeOut 1.5s ease-out 5.5s forwards;
	
}

#t1{
	background: url(images/t1.png) no-repeat;
	width: 156px;
	height: 71px;
	left: 134px;
	/*top: 9px;*/
	opacity: 0;
	-webkit-animation: textFadeIn .5s linear .5s forwards, textFadeOut .5s linear 2s forwards;
	animation: textFadeIn .5s linear .5s forwards, textFadeOut .5s linear 2s forwards;
}

#t2{
	width:121px;
	height:50px;
	background:url(images/t2.png) no-repeat;
	left:170px;
	/*top:30px;*/
	opacity:0;
	-webkit-animation: textFadeIn .5s linear 2.5s forwards, textFadeOut .5s linear 4s forwards;
	animation: textFadeIn .5s linear 2.5s forwards, textFadeOut .5s linear 4s forwards;
}

#t3{
	width:90px;
	height:50px;
	background:url(images/t3.png) no-repeat;
	left:202px;
	/*top:31px;*/
	opacity:0;
	-webkit-animation: textFadeIn .5s linear 8.5s forwards, textFadeOut .5s linear 10s forwards;
	animation: textFadeIn .5s linear 8.5s forwards, textFadeOut .5s linear 10s forwards;
}

#rotater2{
	width: 200px;
	height: 200px;
	left: 50px;
	top:50px;
	-webkit-animation: rotater_anim2 1.5s ease-out 12s forwards;
	animation: rotater_anim2 1.5s ease-out 12s forwards;
}

#ctrl2 {
	width:24px;
	height:24px;
	background:url(images/ico.png) no-repeat;
	left:-12px;
	top:100px;
	-webkit-animation: ctrl2_anim 1.5s ease-out 12s forwards;
	animation: ctrl2_anim 1.5s ease-out 12s forwards;
}

#auto{
	width:34px;
	height:11px;
	background:url(images/auto.png) no-repeat;
	left:10px;
	top:145px;
	opacity:0;
	-webkit-animation: FadeIn .1s linear 13s forwards;
	animation: FadeIn .1s linear 13s forwards;
}

#slider2{
	width:302px;
	height:302px;
	background:url(images/focus.png) no-repeat;
	top:148px;
	left: 305px;
	-webkit-animation:slider_slideIn .5s ease-out 11s forwards, slider_slideOut .5s ease-out 15s forwards;
	animation:slider_slideIn .5s ease-out 11s forwards, slider_slideOut .5s ease-out 15s forwards;
}

#t4{
	width:86px;
	height:45px;
	background:url(images/t4.png) no-repeat;
	/*top:32px;*/
	left:204px;
	opacity:0;
	-webkit-animation: text4FadeIn .5s linear 15.5s forwards;
	animation: text4FadeIn .5s linear 15.5s forwards;
}

#cta{
	width:170px;
	height:40px;
	background:url(images/cta.png) no-repeat;
	left:120px;
	top:500px;
	opacity:0;
	-webkit-animation: FadeIn .5s linear 16s forwards;
	animation: FadeIn .5s linear 16s forwards;
}

#win_logo{
	width: 91px;
	height: 20px;
	background: url(images/logo_windows.png) no-repeat;
	left: 198px;
	top: 572px;
	opacity: 0;
	-webkit-animation: FadeIn .5s linear 16.5s forwards;
	animation: FadeIn .5s linear 16.5s forwards;
}


.fall-back{
 position:absolute;
 width:100%;
 height:100%;
 z-index:1000000;
 top: 0;
 left: 0;
 }